{% extends 'doctors/base.html' %}
{% load static %}
{% block content %}

{% if interlocutor.is_superuser %}
<h2>{{ interlocutor.full_name }} </h2><span>Administrator</span>
{% else %}
<a href="{% url 'accounts:profile' interlocutor.username %}"><h2>{{ interlocutor.full_name }}</h2></a>
{% endif %}

<div id="chat_log">
    {% for message in chat_messages %}
    <div class="message" data-time="{{ message.time|date:'Y-m-d H:i:sO' }}">
        <div class="message_user">{{ message.author.full_name }}:</div>
        <div class="message_text"><p>{{ message.text }}</p></div>
    </div>
    {% endfor %}
</div>

<div class="message_input_form">
    <input id="chat_message_input" type="text">
    <button id="send_btn" type="button">Send</button>
</div>

{% endblock %}

{% block scripts %}
{{ chat_id | json_script:'chat_id' }}
<script src="{% static 'chat/js/admin_client_script.js' %}"></script>
<script src="{% static 'chat/js/messages_time.js' %}"></script>
{% endblock %}