{% extends 'doctors/base.html' %}
{% load static %}
{% load chat_filters %}
{% block content %}

{% if chats %}
{% for chat in chats %}
{% with interlocutor=chat|get_interlocutor:user %}
{% if interlocutor.photo %}
<div class="user_photo" style="background: url({{ interlocutor.photo.url }}) center no-repeat;
            background-size: auto 100%;
            border-radius: 100%;
            width:50px;
            height: 50px">
</div>
{% else %}
<div class="user_photo" style="background: url({% static 'accounts/img/user_icon.png' %}) center no-repeat;
            background-size: auto 100%;
            border-radius: 100%;
            width:50px;
            height: 50px">
    </div>
{% endif %}
<a class="chat_item" href="{% url 'chat:premium_chat' chat.id %}" data-id="{{ chat.id }}">
    {{ chat|get_interlocutor:user }}<br>
</a>
<span>Новые сообщеения: </span><span data-chat-id="{{ chat.id }}">{{ chat|not_read_premium_messages:user }}</span></span>
{% endwith %}
{% endfor %}
{% else %}
<h3>У вас пока что нету чатов</h3>
{% endif %}

{% endblock %}
