{% extends 'doctors/base.html' %}
{% load static %}
{% block content %}

{% if user.is_staff or user.is_superuser %}
<h2>Заблокирован</h2>
<br>
{% if page_user.photo %}
<img src="{{ profile.photo.url }}">
{% endif %}
<span>{{ page_user.full_name }}</span>
<a href="{% url 'accounts:unban' page_user.username %}">Разблокировать</a><br>
{% elif user != page_user %}
<h1>Данный пользователь заблокирован</h1>
{% else %}
<h1>Вы были заблокированы</h1>
<!--<p>Вы можете написать в поддержку нашего сайта</p>-->
{% endif %}


{% endblock %}