{% extends 'doctors/base.html' %}
{% load static %}
{% block content %}

<br>
{% if page_user.photo %}
<div class="user_photo" style="background: url({{ page_user.photo.url }}) center no-repeat;
        background-size: auto 100%;
        border-radius: 100%;
        width:100px;
        height: 100px">
</div>
{% else %}
<div class="user_photo" style="background: url({% static 'accounts/img/user_icon.png' %}) center no-repeat;
        background-size: auto 100%;
        border-radius: 100%;
        width:100px;
        height: 100px">
</div>
{% endif %}
<span>Name: {{ page_user.full_name }}</span><br>
<span>Cost of services: {{ page_user.doctor.service_cost}}</span><br>

{% if user == page_user or user.is_superuser %}
<span>username: {{ page_user.username }}</span><br>
{% endif %}

<span>BIO: {{ page_user.doctor.bio }}</span><br><br>
{% if user.is_staff %}
<span>Complaints count: {{ page_user.accused_standard_complaints.count }}</span><br>
{% endif %}

{% if page_user.doctor.is_confirmed %}
<span>Qualifications: </span>
<ul>
    {% for qualification in page_user.doctor.qualifications.all %}
    <li>{{ qualification.name }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if user == page_user %}
<a href="{% url 'accounts:update_doctor_profile' %}">Change Profile</a>
<a href="{% url 'accounts:add_certification_confirmation' %}">Add Qualification</a>
<a href="{% url 'accounts:change_password' %}">Change Password</a><br>
{% elif user.is_staff %}
<a href="{% url 'accounts:ban' page_user.username %}">Block</a><br>
{% endif %}

{% if user.is_staff %}
<a href="{% url 'moderation:admin_email' page_user.username %}">Send email</a><br>
{% endif %}

{% if page_user.doctor.rating %}
<span>Rating: {{ page_user.doctor.rating }}</span><br> <br>
{% else %}
<span>No rating</span><br><br>
{% endif %}
{% if user != page_user and not user.is_staff %}
<a href="{% url 'moderation:create_complaint' page_user.username %}">File a complaint</a><br>
{% endif %}


{% if user.is_authenticated %}
{% if not user.is_doctor  %}
{% if user.client.is_premium or user.is_staff %}
<a href="{% url 'chat:create_chat' page_user.username %}">Send message</a><br>
{% else %}
<p>To write to a doctor you need a <a href="{% url 'accounts:buy_premium_account' %}">premium account</a></p>
{% endif %}
{% endif %}
{% endif %}

{% if page_user.doctor.is_confirmed %}
{% if calendar %}
<div id="calendar_container">

</div><br>
{% else %}
<h3>No visit time</h3>
{% endif %}

{% if page_user == user %}
<a href="{% url 'calendars:create_visiting_time' %}">Add visit time</a><br>
{% endif %}
{% else %}
<h3>Not confirmed yet</h3>
{% endif %}

{% if page_user != user and not user.is_staff and not user.is_banned and user.is_authenticated %}
<form action="{% url 'doctors:create_review' page_user.username %}" method="post">
    {% csrf_token %}
    {{ review_form.as_p }}
    <button type="submit">Send</button>
</form>
{% endif %}

{% for review in reviews %}
<div class="review_item" style="border: 1px solid grey">
    {% if review.client.user.full_name  %}
    <span>{{ review.client.user.full_name }}</span>
    {% else %}
    Anonym
    {% endif %}<br>
    <span>Rating: {{ review.rating }}</span>
    <p>{{ review.review }}</p>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}
{% if calendar %}
{{ calendar|json_script:"calendar_script" }}
{% endif %}
<script src="{% static 'calendars/js/calendars_script.js' %}"></script>
{% endblock %}
