{% extends 'admin/change_form.html' %}
{% load i18n %}
{% load static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'moderation/admin/css/admin_style.css' %}">

{% endblock %}

{% block submit_buttons_bottom %}

{% if original.ordered_call %}
<a href="{% url 'moderation:doctor_transfer_money' original.ordered_call.pk %}" class="blue_button" type="button" value="Подтвердить">Перевести деньги</a>
{% endif %}
<a href="{% url 'moderation:confirmation' original.pk 'confirmed' %}" style="color: red" class="blue_button" type="button" value="Подтвердить">Закрыть вопрос</a>

{% endblock %}