{% extends 'admin/change_form.html' %}
{% load i18n %}
{% load static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'moderation/admin/css/admin_style.css' %}">

{% endblock %}

{% block submit_buttons_bottom %}

<a href="{% url 'moderation:conflict_resolution' original.pk 'transfer-money' %}" class="blue_button" type="button" value="Подтвердить">Перевести деньги доктору</a>
<a href="{% url 'moderation:conflict_resolution' original.pk 'refusal' %}" class="blue_button" type="button" value="Подтвердить">Отвергнуть</a>
{% endblock %}