{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/doctors/css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    {% block meta %}
    {% endblock %}
</head>
<body>
<header>
     <div class="header_inner">
         <a href="{% url 'doctors:index' %}">MEDICAL~Site</a>

         <div class="user_operation_container">
             {% if user.is_authenticated %}
             <a class="uoc_unit" href="{% url 'accounts:profile' user.username %}">{{ user.username }}</a>
             <a class="uoc_unit" href="{% url 'accounts:logout' %}">logout</a>
             <span id="user_balance">Balance:
                 {% if user.balance.balance %}
                 {{ user.balance.balance }}
                 {% else %}
                 0.00
                 {% endif %}
             </span>
             <a class="uoc_unit" href="{% url 'chat:ordered_call_list' %}">Your calls</a>
             {% if user.is_staff %}
             <a class="uoc_unit" href="{% url 'chat:admin_chat_list' %}">Chat</a><span class="new_messages_indicator new_admin_messages">{{ request.new_admin_messages_count }}</span>
             <a class="uoc_unit" href="{% url 'admin:index' %}">Admin panel</a><br>
             {% else %}
             <a class="uoc_unit" href="{% url 'chat:premium_chat_list' %}">Chat</a><div class="new_messages_indicator new_premium_messages"><span>{{ request.new_premium_messages_count }}</span></div>
             <a class="uoc_unit" href="{% url 'chat:admin_chat_list' %}">Administration</a><span id="new_admin_messages"><div class="new_messages_indicator new_premium_messages"><span>{{ request.new_admin_messages_count }}</span></div></span>
             {% endif %}
             {% else %}
                <a class="uoc_unit" href="{% url 'accounts:register_client' %}">Registration for clients</a>
                <a class="uoc_unit" href="{% url 'accounts:register_doctor' %}">Registration for doctors</a>
                <a class="uoc_unit" href="{% url 'accounts:login' %}">Log in</a>
            {% endif %}
         </div>
     </div>
</header>
<div class="messages"> <!-- Сообщения во всплывающем окошке о кокомтом успешном действии или наоборот  -->
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
</div>

<main>
    <div class="main_inner">
        {% block content %}
        {% endblock %}
    </div>
</main>

{% block scripts %}
{% endblock %}
<script src="{% static 'chat/js/messages_script.js' %}"></script>
</body>
</html>