{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block meta %}
    {% endblock %}
</head>
<body>
<a href="{% url 'doctors:index' %}">MEDICAL~Site</a>
{% if user.is_authenticated %}
<a href="{% url 'accounts:profile' user.username %}">{{ user.username }}</a>
<a href="{% url 'accounts:logout' %}">logout</a>
<span id="user_balance">Баланс: {{ user.balance.balance }}</span>
<a href="{% url 'chat:ordered_call_list' %}">Ваши звонки</a>
{% endif %}
<hr>
<div class="messages"> <!-- Сообщения во всплывающем окошке о кокомтом успешном действии или наоборот  -->
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
</div>
{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>