{% extends 'doctors/base.html' %}
{% load static %}
{% block content %}
<form method="get">
    {{ form.as_p }}
    <button type="submit">Поиск</button>
</form>

{% if object_list %}
{% for doctor in object_list  %}
<!--{% if doctor.user.is_banned %}-->
<!--<a href="{% url 'accounts:profile' doctor.username %}">Заблокирован: {{ doctor }}</a><br>-->
<!--{% else %}-->
{% if doctor.is_confirmed and not doctor.user.is_banned %}
<div class="doctor_search_item" style="border: 1px solid grey">
    <a href="{% url 'accounts:profile' doctor.username %}">{{ doctor }}</a><br>
    {% if doctor.rating %}
    <span>Rating: {{ doctor.rating }}</span>
    {% else %}
    <span>Rating: No Rating</span>
    {% endif %}
</div>
{% endif %}
{% endif %}
{% endfor %}
{% else %}
<h3>No doctors were found matching your request</h3>
{% endif %}


{% endblock %}

{% block scripts %}
<script src="{% static 'chat/js/messages_script.js' %}"></script>
{% endblock %}