{% extends 'doctors/base.html' %}
{% load static %}
{% block content %}

<div id="calendar_container">

</div><br>

<form method="post" enctype="multipart/form-data">
    <ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% csrf_token %}
    {{ form.as_p }}
    <span>Time in format (01.01.2020 12:00)</span><br>
    <button type="submit">Create</button>
    {% if calendar %}
    WFIOjwaifuhawifuawf
    {% endif %}
</form>

{% endblock %}

{% block scripts %}
{% if calendar %}
awfafawfafw
{{ calendar|json_script:"calendar_script" }}
{% endif %}
<script src="{% static 'calendars/js/calendars_script.js' %}"></script>
<script src="{% static 'calendars/js/timezone_script.js' %}"></script>
{% endblock %}